#imc {

    #tool-1 {
        @include layout(cima);

        .svg-img {
            width: 40px;
            height: 40px;
            cursor: pointer;
        }

        .title-tools {
            font-size: 1.7em;
        }

        button {
            border: none;
            background-color: transparent;
        }
    }

    #imc-tool {
        @include layout-2(baixo);
        display: flex;
        flex-direction: column;
        
        #imc-input { 
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 7px;
        }

        .input-imc {
            width: 200px;
            margin: auto;
            border: none;
            background-color: lightgray;
            padding: 5px;
            border-radius: 20px;
            color: white;
            font-family: $font;
            appearance: none;
        }
        
        label {
            position: relative;
            left: 29%;
            width: fit-content;
        }

        #imc-submit {
            margin: 4% auto;

            button {
                padding: 20px 40px;
                border-radius: 20px;
                border: 1px solid green;
                background-image: linear-gradient(to bottom, rgb(4, 202, 4), rgb(1, 160, 1), rgb(3, 110, 3));
                color: white;
                font-size: 1.1em;
                text-shadow: 1px 0px 0px black;
                cursor: pointer;

                &:active {
                    position: relative;
                    top: 2px;
                }
            }


        }

        #res {
            margin: auto;
            border: 1px solid black;
            width: 300px;
            padding: 20px;
            color: white;
            border-radius: 20px; 
            background-image: linear-gradient(to bottom, rgb(4, 202, 4), rgb(1, 160, 1), rgb(3, 110, 3));
            border-color: green;
        }

        #sexo {
            width: 400px;
            display: flex;
            gap: 10px;
            justify-content: center;
            margin: 3%;
            accent-color: green;
        }

        .gen {
            position: initial;
        }
    }
}
