#imc {

    #tool-1 {
        @include layout(cima);

        .svg-img {
            width: 40px;
            height: 40px;
            cursor: pointer;
        }

        .title-tools {
            font-size: 1.7em;
        }

        button {
            border: none;
            background-color: transparent;
        }
    }

    #imc-tool {
        @include layout-2(baixo);
        display: flex;
        flex-direction: column;
        
        #imc-input { 
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 7px;
        }

        .input-imc {
            width: 200px;
            margin: auto;
            border: none;
            background-color: darkgray;
            padding: 5px;
            border-radius: 20px;
            color: white;
            font-family: $font;
            appearance: none;
        }
        
        label {
            position: relative;
            left: 29%;
            width: fit-content;
        }

        #imc-submit {
            margin: 5% auto;

            button {
                padding: 20px 50px;
                border-radius: 20px;
                font-family: $font;
                color: white;
                text-shadow: 0px 0px 1px black;
                background-image: linear-gradient(to top, rgb(112, 175, 23), yellowgreen, rgb(125, 176, 23), rgb(106, 151, 15));
                background-size: 300%;
                border: 1px solid green;

                &:hover {
                    background-image: linear-gradient(to bottom,rgb(106, 151, 15) , yellowgreen, rgb(125, 176, 23), rgbrgb(112, 175, 23));
                }
            }
        }
    }
}
